<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alpha.module_message">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".MessageActivity"
            android:screenOrientation="sensor" />
    </application>

</manifest>
